<%
const now = new Date()
const style = 'style="text-decoration: line-through; color: #bbb;"'
%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  </head>
  <body>
    <h1><%= title %></h1>
    <%for (var index in events){ const event = events[index]%>
      <div <% if (now > event.start) {%><%-style%><%}%>>
        <span style="width: 100px;display: inline-block;"><%= event.start.toLocaleDateString('de-DE') %></span><span><%= event.summary %></span>
      </div>
    <%}%>
  </body>
</html>
